<%= form_for([@book, @book.pages.build]) do |f| %>
	
	<p>
		<%=	f.label :file %><br>
		<%=	f.file_field :file %>
	</p>

	<p>
		<%=	f.label :page_num %><br>
		<%=	f.text_field :page_num %>
	</p>

	<p>
		<%=	f.label :comment %><br>
		<%=	f.text_area :comment %>
	</p>
	<p>
		<%= f.submit %>
	</p>	


<% end %>