<tr>
	<td>

		<%= page.page_num %>
	</td>
	<td>

		<% unless page.file.blank? %> 
			<%= image_tag page.file.url(:medium) %>
		<% else %>
			<img src="<%= page.image_path %>" />
		<% end %>
	</td>

	<td>
		<%= page.comment %>
	</td>

	<td>
		<%= link_to 'Delete Page', [page.book, page],
					method: :delete,
					data: { confirm: 'Are you sure?'} %>
	</td>

</tr>
		

