<%= form_for @book do |f| %>

		<% if @book.errors.any? %>
			<div class="error_msg">
				<b><%= pluralize(@book.errors.count, "error") %> kept this book from being saved: </b>
				<ul>
					<% @book.errors.full_messages.each do |msg| %>
						<li><%= msg %> </li>
					<% end %>
				</ul>
			</div>
		<% end %>

	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%=	f.label :creator %><br>
		<%=	f.text_field :creator %>
	</p>

	<p>
		<%= f.label :publisher %><br>
		<%= f.text_field :publisher %>
	</p>

	<p>
		<%=	f.label :year %><br>
		<%=	f.text_field :year %>
	</p>

	<p>
		<%=	f.label :thumb %><br>
		<%=	f.file_field :thumb %>
	</p>


	<p>
		<%= f.submit %>
	</p>

<% end %>