<div id="main">
	<div id="container">


		<h2>NYAM Books</h2>

		<% @books.each do |b| %>
			<div class="book-indice">
				<p class="book-index">
					<a href="/books/<%= b.id %>">
						<%= image_tag b.thumb.url(:medium), :class => 'book_thumb img-thumbnail' %>
					</a>

				</p>
				<p><b><a href="/books/<%= b.id %>"><%= b.title %></a></b> </p>
				<p><%= b.creator %>&nbsp;</p>
				<% if current_user.try(:admin?) %>
					<p>	
						<%= link_to 'Edit', edit_book_path(b) %> | 
						<%= link_to 'Delete', book_path(b), 
										   method: :delete, 
										   data: { confirm: 'Are you sure you want to delete?' } %>
					</p>
				<% end %>
			</div>
		<% end %>

		

	</div><!-- #container -->

</div> <!-- #main -->
