<h2>Book <%= @book.id %> = <%= @book.title %> </h2>

<%= image_tag @book.thumb.url(:medium) %>

<p><b>Creator: </b><%= @book.creator %></p>
<p><b>Publisher: </b><%= @book.publisher %></p>
<p><b>Year of Publishing: </b><%= @book.year %></p>

<p><img src="<%= @book.image_path %>"/></p>

<h3> Add pages </h3>
<%= render "pages/form" %>




<%= link_to 'Back to books list', books_path %> | <%= link_to 'Edit', edit_book_path(@book) %>



<h2> Pages </h2>
<table>
		<thead>
			<tr><td>Page Number</td><td>Page Image</td><td>Comment</td><td>Modify</td></tr>
		<thead>

			<%= render @book.pages %>
</table>
